@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* font-family: Pretendard; */
@import url('https://webfontworld.github.io/heungkuk/LeeSeoyun.css');
/* font-family: 'LeeSeoyun'; */

/******************************
            COMMON
******************************/
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color-scheme: light dark;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-width: 360px;
  min-height: 100vh;
  font-weight: 400;
  line-height: 1.5;
  font-family: Pretendard, Roboto, "돋움", dotum, AppleGothic, sans-serif;
  letter-spacing: -1px;
  color: #777;
  place-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
img, input, select, textarea {
  display: block;
}


/******************************
              MAIN
******************************/
/* -------------------- MAIN COMMON -------------------- */
.sec-header {
  text-align: center;
}
.sec-header .sec-title {
  font-size: 2em;
  font-family: LeeSeoyun, Roboto, "돋움", dotum, AppleGothic, sans-serif;
  color: #111;
  transition: all .3s;
}
.sec-header .sec-sub-title,
.sec-header .sec-desc {
  font-size: 1.7em;
  line-height: 1.2;
  font-family: LeeSeoyun, Roboto, "돋움", dotum, AppleGothic, sans-serif;
  color: #555;
  transition: all .3s;
}
.sec-header .sec-desc em {
  color: #ca4f34;
}

/* -------------------- v-card -------------------- */
.v-card .v-card-title {
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: -1px;
  color: #333;
}
.v-card .v-card-subtitle {
  font-weight: 500;
  font-size: .9em;
  letter-spacing: -1px;
  color: #777;
  opacity: 1;
}
.v-card div.v-card-text {
  line-height: 1.5;
  letter-spacing: -1px;
  color: #777;
}

/* -------------------- v-btn -------------------- */
button.v-btn {
  border-color: #bbb;
  line-height: 1.5;
  letter-spacing: -1px;
  color: #555;
  transition: all .3s;
}
button.v-btn:not(.v-btn.emphasis, .v-app-bar .v-btn):hover {
  border-color: #ca4f34;
  color: #ca4f34;
}
button.v-btn:not(.book-rate .v-rating .v-btn, .v-app-bar .v-btn):hover .v-icon {
  color: #ca4f34;
  transition: all .3s;
}
button.v-btn .v-btn__overlay {
  background-color: #000;
}
button.v-btn.emphasis {
  border-color: #ca4f34;
  color: #fff;
  background-color: #ca4f34;
}

/* -------------------- v-chip -------------------- */
.v-chip-group .v-slide-group__content {
  gap: 15px;
}
.v-chip-group .v-chip {
  border-color: #bbb;
  color: #777;
  transition: all .3s;
}
.v-chip-group .v-chip:not(.v-chip--selected):hover {
  border-color: #ca4f34;
  color: #ca4f34;
}
.v-chip-group .v-chip--selected {
  border-color: #ca4f34;
  font-weight: 500;
  color: #fff;
  background-color: #ca4f34;
}
.v-chip-group .v-chip:not(.v-chip--selected) .v-chip__overlay {
  background-color: #000;
}

/* -------------------- v-text-field -------------------- */
.v-text-field .v-field {
  background-color: #f9f6ed;
}
.v-text-field .v-field .v-icon {
  color: #ca4f34;
}
.v-text-field .v-field .v-field__input {
  letter-spacing: -1px;
  color: #333;
}

/* -------------------- v-messages -------------------- */
.v-messages .v-messages__message {
  font-size: 1.15em;
  letter-spacing: -1px;
}


/******************************
      max-width: 599px;
******************************/
@media all and (max-width: 599px) {
  :root {
    font-size: 15px;
  }
  .sec-header .sec-title {
    font-size: 1.8em;
  }
  .v-chip-group .v-slide-group__content {
    gap: 10px;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #777;
  }
}